
/* general */
:root{
    --font-weight:600;
    --color: rgba(0,0,0,0.87);
    --shadowcolor:rgb(220,220,220);
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
   
}

body{
    font-family: Roboto, Noto Sans, Arial, sans-serif
}


/* utilities */

.img-display{
    display:block ;
}

.flex{
    display:flex;
    overflow:none;
}


/* nav bar */
ul{
    list-style-type:none;
    

}

li{
    margin: 15px 7px;
    color:	#808080;
    font-size:13px;
    display:inline;
    
}

a{
    text-decoration: none;
}

.right-topnav{
    
    position:fixed;
    top:0;
    text-align: right;
    right:102px;  
    
}

.right-hover:hover{
    border-bottom:1px solid gray;
}



.navbar{
    margin: 30px;
    display:fixed;
    overflow:hidden;
    width: 100%;

    
}
.button{
    text-align: center;
    margin: 0px 10px;
    padding: 7px 7px;
}
/* logo */
.logo {
    display:fixed;
    text-align:center;
    margin: 200px 0px 25px 0px;
    
}


/* buttons */

.sign-in{
    position: fixed;
    text-align:right;
    top:25px;
    right:15px;
}

#sign-in{
    color:white;
    padding: 7px 7px;
    background-color: #4387fd;
    border-radius:5%;


  
}

.form-control{
    text-align:center;
    margin: 30px 0px;
}


/* actual searchbar */

.main-search{
    width:500px;
    height: 50px;
    border-radius:30px;
    font-size:15px;
    text-align: left;
    margin: 0px 0px 0px 20px;
    padding: 10px 20px 10px 50px;
    border:1px solid #DCDCDC;
}
.main-search:hover{
    box-shadow: 0px 0px 0px 1px var(--shadowcolor);
}

.specific-button{
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 0px;
    color:#696969;
    background-color: whitesmoke;
    border:white;
    border-radius: 7%;
}

.specific-button:hover{
    box-shadow: 0 0 1px 1px gray;
    font-weight:50px;

}


/* icons */

.mic-pic{
    width:1%;
    height:1.5%;
    position:fixed;
    display:block;
    left:63%;
    top:36.25%;
    text-align:center;
}
.search-pic{
    width:1.5%;
    height:2%;
    margin: 5px 5px -5px 0px;
    display:block;
    position: fixed;;
    left:36.5%;
    top:35.5%;
}


/* grid icon */

.grid-icon{
    position:fixed;
    display:block;
    top:33px;
    right:90px;
    width:1.2%;
    height:2%;
}

.main-search::before{
    content: url("https://cdn3.iconfinder.com/data/icons/faticons/32/grid-2-01-512.png");
}
.grid-icon:hover{
    border-radius:50%;
    box-shadow: 0 0 2px 7px #DCDCDC;

}


/* top navigator icons */

.user-icon {
    border-radius:50%;
    position:fixed;
    top:25px;
    right:30px;

}

.user-icon:hover{
  
    box-shadow: 0 0px 1px 3px #DCDCDC;


}
/* footer styling */
footer{
    position:fixed;
    bottom:0;
    width: 100%;
    background-color:whitesmoke;
    overflow:hidden;
    padding: 10px 0px 5px 25px;   
}

.footer-right{
    
    position:fixed;
    text-align:right;
    bottom:7px;
    right:10px;
}

.footer-hover:hover{
    border-bottom: 1px solid gray;
}

.footer-hover-right:hover{
    border-bottom: 1px solid gray;
}


.left-topnav{
    position:fixed;
    top:25px;
    left:25px;
}

.left-hover:hover{
    border-bottom:1px solid gray;
}


/* media queries */

@media (min-width:840px) {
    .mic-pic{
     
     
}
    .search-pic{
       
       
    }

}
